{% extends 'base.html' %}

{% block title %}
{{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}</p>
      {% if config.extra.author.avatar %}
      <figure class="image is-flex is-justify-content-center is-align-items-center">
        <img class="" src="{{config.base_url}}/images/avatar.png" style="max-width: 192px" />
      </figure>
      {% endif %}
    </div>
    <div class="content">
      {{ section.content | safe }}
    </div>
    <h1 class="title">Von A bis Z</h1>
      <div class="split">
        {% if paginator %}
        {% set pages = paginator.pages %}
        {% else %}
        {% set pages = section.pages %}
        {% endif %}

        {% for page in pages %}
   
            <a class="has-text-blue" href='{{ page.permalink }}'>
            {{ page.title }}
            </a>
          <div class="columns">
            <div class="column">
            </div>
            <div class="column has-text-right-desktop">
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
  </div>
</section>
{% endblock %}
