{% extends 'base.html' %}

{% block title %}
{{ config.title }} | {{ section.title }}
{% endblock title %}

{% block content %}
<section class="section indexsection">
  <div class="container">
    <div class="has-text-centered startanimation">
      <h1 class="title is-2">{{ section.title }}</h1>
      <p class="subtitle is-4">{{ section.description }}<br> <small><small> Garmisch-Partenkirchen</small></small></p>
      {% if config.extra.author.avatar %}
      <figure class="image is-flex is-justify-content-center is-align-items-center">
        <img class="" alt="Das Logo der BMS-Schule ein großes grünes P mit einem Haus in der Öffnung" src="{{config.base_url}}/images/avatar.png" style="max-width: 192px" />
      </figure>
      {% endif %}
      {{ macros::notify() }}
    </div>
    <div class="content">
      {{ section.content | safe }}
    </div>
    <h1 class="title">Von A bis Z</h1>
    <div class="split">
      {% if paginator %}
      {% set pages = paginator.pages %}
      {% else %}
      {% set pages = section.pages %}
      {% endif %}
      {% for page in pages %}
    
      <a class="has-text-blue" href='{{ page.permalink }}'>
        {{ page.title }}
      </a>
  
      <div class="columns">
        <div class="column">
        </div>
        <div class="column has-text-right-desktop">
        </div>
      </div>
      </article>
      {% endfor %}
    </div>
    <hr>
    <h1 class="title" id="das-wir">Das Wir</h1>
    <div class="gallery runner" id="runner">
  
      <a href="{{config.base_url}}/runner1.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner1.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner10.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner10.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner11.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner11.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner2.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner2.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner3.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner3.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner4.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner4.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner5.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner5.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner6.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner6.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner7.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner7.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner8.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner8.jpeg">
    </a>
    
      <a href="{{config.base_url}}/runner9.jpeg">
      <img class="runner-img" src="{{config.base_url}}/runner9.jpeg">
    </a>
    
      <script>
    
    
    setInterval(() => {
      let width = document.getElementById("runner").getBoundingClientRect().width;
      
      if (document.getElementById("runner").scrollLeft> 2000) {
        document.getElementById("runner").scrollLeft = 0;
      }
      else{
      document.getElementById("runner").scrollLeft += 5000}
    }, "10000");
     
      </script>
    </div>
  </div>
</section>
{% endblock %}